.gnb-wrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-between;
  height: var(--nav-height);
  border-bottom: 1px solid #e5e5e5;

  box-sizing: border-box;
  flex-wrap: wrap;
}

/* LOGO */
.logo-wrapper {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.logo-wrapper .menu {
  margin: 0 10px;
  padding: 8px;
  cursor: pointer;
}

.logo-wrapper .logo {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* NavItem */
.navitem-wrapper {
  height: var(--nav-height);
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  height: 100%;
  margin: 0 20px;
  max-width: 780px;
}

.nav-item-box {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  white-space: nowrap;
  text-align: center;

  position: relative;
  justify-content: center;
  padding: 4px 10px;
  box-sizing: border-box;
  height: 100%;
  cursor: pointer;
}

.nav-item-box:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(206, 206, 206);
  bottom: 0;
  left: 0;
}

/* title : 홈 */
.item-box-index-0 {
  display: none;
}

.nav-item {
  font-weight: 600;
}

/* UserMenu */
.usermenu-wrapper {
  height: var(--nav-height);
  display: flex;
  align-items: center;
}

.usermenu-wrapper > div,
img {
  padding: 0px 10px;
  cursor: pointer;
}

.usermenu-wrapper > img {
  border-radius: 50%;
}

.threedots-icon {
  display: none;
}

/* CompanyService */
.cs-wrapper {
  display: flex;
  align-items: center;
}

.cs-button {
  padding: 4px 8px;
  margin: 0;
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid #e5e5e5;
  color: #666666;
}

.cs-button > p {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.cs-wrapper::before {
  content: "";
  background-color: #e5e5e5;
  width: 1px;
  height: 10px;
  margin: 0 10px;
}

/* media query */
/* nav bar */
@media screen and (max-width: 1100px) {
  .nav-item-box {
    font-weight: 500;
    font-size: 14px;
  }
}

@media screen and (max-width: 990px) {
  /* navbar 두 줄로 변경 */
  .gnb-wrapper {
    height: var(--nav-height) * 2;
  }
  .logo-wrapper {
    width: 100%;
  }
  .navitem-wrapper {
    max-width: 600px;
  }

  /* nav-item hover 효과 제거 */
  .nav-item-box:hover::after {
    display : none;
  }

  /* user-menu 줄이기 */
  .threedots-icon {
    display: block;
  }
  .usermenu-wrapper > img {
    display: none;
  }
  /* company service display none */
  .cs-wrapper {
    display: none;
  }
}

@media screen and (max-width: 764px) {
  /* nav item 변경 (홈, 채용, 이벤트) */
  .nav-item-box {
    display: none;
  }
  .item-box-index-0,
  .item-box-index-1,
  .item-box-index-2 {
    display: block;
  }
  .navitem-wrapper {
    max-width: 160px;
    padding : 0;
    margin : 0;
    padding-left : 10px;

  }
  .logo-wrapper{
      margin : 0;
      padding:0;
  }
  .logo-wrapper .menu{
      margin : 0;
      padding : 0;
      padding-left : 10px;
  }
  .nav-item{
      font-size : 18px;
      font-weight: 700;
  }
}
